<div id="follow-icons">
	<a href="{{@blog.url}}/rss"><i class="fa fa-rss-square fa-2x"></i></a>
	<a href="https://facebook.com/MOLi.rocks"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="https://github.com/MOLi-rocks"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="https://telegram.me/MOLi_rocks"><i class="fa fa-telegram fa-2x"></i></a>
</div>
